.DS_Store
Clayton_Plasticity_Fluc_Meta/Responses.docx
.DS_Store
output/.DS_Store
.DS_Store
output/.DS_Store
Clayton_Plasticity_Fluc_Meta/Stocker et al_acclimation meta_140425_EL.docx
Clayton_Plasticity_Fluc_Meta/Stocker et al_acclimation meta_Supplemantary Material 140425.docx
Clayton_Plasticity_Fluc_Meta/.DS_Store
Clayton_Plasticity_Fluc_Meta/Letter to the Editor acclimation meta_EL.docx
Clayton_Plasticity_Fluc_Meta/Stocker et al_acclimation meta_140425_EL.docx
Clayton_Plasticity_Fluc_Meta/Revision2/~$E-00581-2025_Response to referees.docx
Clayton_Plasticity_Fluc_Meta/Revision2/~$E-00581-2025_revision_280725.docx
PRRD_tests.xlsx
~$Complexity_Final_data_updated_FS220725.xlsx
Clayton_Plasticity_Fluc_Meta/Revision2/ELE-00581-2025_Proof_hi.pdf
Complexity_Final_data_updated_FS220725.xlsx
data.csv
prop.csv
Complexity_Final_data_updated_FS270825.xlsx
temp_directions_check.csv
Complexity_Final_data_updated_FS030925.xlsx
directions_check.csv
~$PRRD_tests.xlsx
directions_check.xlsx
~$Copy of directions_check_FS.xlsx
Copy of directions_check_FS.xlsx
directions_check_dan.xlsx
Clayton_Plasticity_Fluc_Meta/Revision2/~$E-00581-2025_revision_supplementary_280725.docx
Analysis_Final.R
checks_PRRD.R
