.DS_Store
Clayton_Plasticity_Fluc_Meta/Responses.docx
.DS_Store
output/.DS_Store
.DS_Store
output/.DS_Store
Clayton_Plasticity_Fluc_Meta/Stocker et al_acclimation meta_140425_EL.docx
Clayton_Plasticity_Fluc_Meta/Stocker et al_acclimation meta_Supplemantary Material 140425.docx
Clayton_Plasticity_Fluc_Meta/.DS_Store
Clayton_Plasticity_Fluc_Meta/Letter to the Editor acclimation meta_EL.docx
Clayton_Plasticity_Fluc_Meta/Stocker et al_acclimation meta_140425_EL.docx
Clayton_Plasticity_Fluc_Meta/Revision2/~$E-00581-2025_Response to referees.docx
Clayton_Plasticity_Fluc_Meta/Revision2/~$E-00581-2025_revision_280725.docx
PRRD_tests.xlsx
