.DS_Store
Clayton_Plasticity_Fluc_Meta/Responses.docx
.DS_Store
output/.DS_Store
.DS_Store
output/.DS_Store
Clayton_Plasticity_Fluc_Meta/Stocker et al_acclimation meta_140425_EL.docx
Clayton_Plasticity_Fluc_Meta/Stocker et al_acclimation meta_Supplemantary Material 140425.docx
